# JxBrowser files
lib/jxbrowser-*.jar
lib/jxbrowser-*.dll
lib/jxbrowser-*.so
lib/jxbrowser-*.dylib
lib/jxbrowser-*.jar.pack
lib/jxbrowser-*.jar.pack.gz
lib/jxbrowser-*.jar.pack.xz
lib/jxbrowser-*.lib
lib/jxbrowser-*.dll
lib/jxbrowser-*.so
lib/jxbrowser-*.dylib
lib/jxbrowser-*.dll.pack
lib/jxbrowser-*.dll.pack.gz
lib/jxbrowser-*.dll.pack.xz
lib/jxbrowser-*.so.pack
lib/jxbrowser-*.so.pack.gz
lib/jxbrowser-*.so.pack.xz
lib/jxbrowser-*.dylib.pack
lib/jxbrowser-*.dylib.pack.gz
lib/jxbrowser-*.dylib.pack.xz
lib/jxbrowser-*.lib.pack
lib/jxbrowser-*.lib.pack.gz
lib/jxbrowser-*.lib.pack.xz
lib/jxbrowser-*.dll.pack
lib/jxbrowser-*.dll.pack.gz
lib/jxbrowser-*.dll.pack.xz
lib/jxbrowser-*.so.pack
lib/jxbrowser-*.so.pack.gz
lib/jxbrowser-*.so.pack.xz
lib/jxbrowser-*.dylib.pack
lib/jxbrowser-*.dylib.pack.gz
lib/jxbrowser-*.dylib.pack.xz
lib/jxbrowser-*.lib.pack
lib/jxbrowser-*.lib.pack.gz
lib/jxbrowser-*.lib.pack.xz
lib/jxbrowser-*.dll.pack
lib/jxbrowser-*.dll.pack.gz
lib/jxbrowser-*.dll.pack.xz
lib/jxbrowser-*.so.pack
lib/jxbrowser-*.so.pack.gz
lib/jxbrowser-*.so.pack.xz
lib/jxbrowser-*.dylib.pack
lib/jxbrowser-*.dylib.pack.gz
lib/jxbrowser-*.dylib.pack.xz
lib/jxbrowser-*.lib.pack
lib/jxbrowser-*.lib.pack.gz
lib/jxbrowser-*.lib.pack.xz
lib/jxbrowser-*.dll.pack
lib/jxbrowser-*.dll.pack.gz
lib/jxbrowser-*.dll.pack.xz
lib/jxbrowser-*.so.pack
lib/jxbrowser-*.so.pack.gz
lib/jxbrowser-*.so.pack.xz
lib/jxbrowser-*.dylib.pack
lib/jxbrowser-*.dylib.pack.gz
lib/jxbrowser-*.dylib.pack.xz
lib/jxbrowser-*.lib.


# Compiled object files
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.map

# CCS generated files
*.ccxml
*.ccsproject
*.ccsrepo
*.cproject
*.project
.settings/

# TMS320F28379D specific files
*.out
*.mem
*.elf
*.map
*.html
*.asm
*.cmd
